.wsk {
  color: #38761D;
}

.bnyd {
  color: #FFFFFF;
  background-color: #073763;
}

.fsh {
  background-color: #6D9EEB;
}

.chardev {
  color: #FFFFFF;
  background-color: #93C47D;
}