
body {
    padding: 25px;
}
.title {
      color: #147200;
}

h1 {
    font-size: 38px;
    font-weight: lighter;
    font-style: oblique;
}

.joshua {
  margin-top: 50px;
}

.cr {
  margin-top: 50px;
}

.robbery {
  margin-top: 30px;
}